<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Demo</title>

    <link rel='stylesheet' href='Assets/css/bootstrap.min.css'>
      <link rel='stylesheet' href='Assets/css/style.css'>
  </head>
