<!DOCTYPE html>
{{> head}}
  <body>
    {{> navbar}}
    <div class='row'>

      <div class='col-8'>
        <h1>Gatos, adorables? inquietantes? ambas?</h1>
      </div>

      <div class='col-4'>
      <img src='Assets/images/gato-negro.jpg' class='img-thumbnail'>
      </div>

    </div>
    {{> footer}}
  </body>
</html>
