<!DOCTYPE html>
{{> head}}
   <body>

    {{> navbar}}

    {{> jumbotron}}

    <h1>MONOS BORRACHOS, PROBLEMA O SOLUCION A LOS PROBLEMAS?</h1>
    <p> Algunos chimpancés salvajes de África occidental son abstemios, mientras que otros son bebedores asiduos dada la oportunidad consumen el equivalente a tres pintas de cerveza lager por día.</p>


    {{> footer}}

  </body>
</html>
